{{response.files.append(URL(r=request,c='static/js',f='create_test.js'))}}
{{response.files.append(URL(r=request,c='static/js',f='jquery-ui.js'))}}
{{response.files.append(URL(r=request,c='static/css',f='jquery-ui.css'))}}
{{response.files.append(URL(r=request,c='static/css',f='jquery-ui.theme.css'))}}
{{response.files.append(URL(r=request,c='static/js',f='jquery.js'))}}
{{response.files.append(URL('static','css/create_test.css'))}}

<!--Bootstrap CSS-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{{extend 'layout.html'}}
<!DOCTYPE html>
<html>

<!--Nav Bar-->
    <ul class="nav nav-tabs ui-corner-all" role="navigation">
        <li><a href="{{=URL('default','index')}}">View Classes</a></li>
        <li><a href="{{=URL('default','test_list')}}">View Tests</a></li>
        <li><a href="{{=URL('default','create_test')}}">Create Test</a></li>
        <li><a href="{{=URL('default','create_class')}}">Create Class</a></li>
    </ul>

<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="ui-accordion ui-widget ui-helper-reset">
    <h1 style="text-align: center;margin-bottom:0px" class="ui-accordion-header ui-state-default ui-corner-top">
        <span style="margin-right:50px;font-family:Helvetica">Select a Class to Add the Test To</span>
    </h1>
    <form method="post" class="ui-widget-content ui-corner-bottom ui-accordion-content-active" enctype="multipart/form-data" action="#">
        {{=classes_taught}}
    </form>
</div>
</body>
</html>