{{response.files.append(URL(r=request,c='static/js',f='create_test.js'))}}
{{response.files.append(URL(r=request,c='static/js',f='jquery-ui.js'))}}
{{response.files.append(URL(r=request,c='static/css',f='jquery-ui.css'))}}
{{response.files.append(URL(r=request,c='static/css',f='jquery-ui.theme.css'))}}
{{response.files.append(URL(r=request,c='static/js',f='jquery.js'))}}
{{response.files.append(URL('static','css/create_test.css'))}}


{{extend 'layout.html'}}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
        Examera - Create A Test
    </title>


</head>
<body>
{{block body}}
<div id="dialog" title="Test submitted!" hidden="true">
    <span class="ui-helper-hidden-accessible"><input type="text"/></span>
    Return to index?
</div>
<div class="ui-accordion ui-widget ui-helper-reset">
    <h1 style="text-align: center;margin-bottom:0px" class="ui-accordion-header ui-state-default ui-corner-top">
        <span style="margin-right:50px">Create A Test</span>
    </h1>

    <form method="post" style="padding-left:100px" class="ui-widget-content ui-corner-bottom ui-accordion-content-active" enctype="multipart/form-data" action="#">
        <table>
            <tbody>
            <tr id="test_name">
                <td class="w2p_fl">

                    <label id="test_name__label" for="test_name">

                        Test Name:

                    </label>

                </td>
                <td class="w2p_fw">

                    <input id="test_name_input" class="string large_field" type="text" value="" name="name"/>

                </td>
            </tr>
            <tr id="test_info">
                <td class="w2p_fl">

                    <label id="test_info__label" for="test_info">

                        Test Info:

                    </label>

                </td>
                <td class="w2p_fw">

                    <textarea id="test_info_input" class="text large_field" rows="5" cols="60" value=""
                              name="info"></textarea>

                </td>
            </tr>
            <tr id="test_questions">
                <td class="w2p_fl">


                    Questions:


                </td>
                <td id="questions_wrapper">
                    <table id="questions_table_0" class="questions_table ui-corner-all">
                        <tr class="question_text_row">
                            <td class="question_field question_text_label">
                                Question:
                            </td>
                            <td class="question_field question_text">
                                <textarea class="text" value="" rows="3" cols="46" name="text"></textarea>
                            </td>
                        </tr>
                        <tr class="answer_a_row">
                            <td class="question_field answer_a_label">
                                Answer A:
                            </td>
                            <td class="answer_a question_field">
                                <input class="string" type="text" value="" name="text"/>
                            </td>
                        </tr>
                        <tr class="answer_b_row">
                            <td class="answer_b_label question_field">
                                Answer B:
                            </td>
                            <td class="answer_b question_field">
                                <input class="string" type="text" value="" name="text"/>
                            </td>
                        </tr>
                        <tr class="answer_c_row">
                            <td class="answer_c_label question_field">
                                Answer C:
                            </td>
                            <td class="answer_c question_field">
                                <input class="string" type="text" value="" name="text"/>
                            </td>
                        </tr>
                        <tr class="answer_d_row">
                            <td class="answer_d_label question_field">
                                Answer D:
                            </td>
                            <td class="answer_d question_field">
                                <input class="string" type="text" value="" name="text"/>
                            </td>
                        </tr>
                        <tr class="correct_answer_row">
                            <td class="correct_answer_label question_field">
                                Correct Answer:
                            </td>
                            <td class="correct_answer question_field">
                                <select>
                                    <option value="a">Answer A</option>
                                    <option value="b">Answer B</option>
                                    <option value="c">Answer C</option>
                                    <option value="d">Answer D</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="remove_row">
                            <td class="question_field">
                            </td>
                            <td class="remove_row question_field">
                                <button class="remove_question_button" type="button">
                                    Remove question
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <button id="add_question_button" class="btn" type="button">
                New Question
            </button>

            <button id="submit_test_button" type="button">
                Save Test
            </button>
        </p>
    </form>
</div>

</body>
</html>