{{extend 'layout.html'}}

<!DOCTYPE html>

<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>
        Examera - Index
    </title>
</head>
<body>
    {{=A('Create A Test', _class='btn', _href=URL('default','create_test'))}}
    {{=A('View All Tests', _class='btn', _href=URL('default','test_list'))}}
    {{=A('Create A Class', _class='btn', _href=URL('default','create_class'))}}
    {{=A('View Classes', _class='btn', _href=URL('default','view_class'))}}
    {{=A('Join A Class', _class='btn', _href=URL('default','join_class'))}}
</body>
</html>
