{{response.files.append(URL(r=request,c='static/js',f='take_test.js'))}}
{{response.files.append(URL(r=request,c='static/js',f='jquery-ui.js'))}}
{{response.files.append(URL(r=request,c='static/css',f='jquery-ui.css'))}}
{{response.files.append(URL(r=request,c='static/css',f='jquery-ui.theme.css'))}}
{{response.files.append(URL(r=request,c='static/js',f='jquery.js'))}}
{{response.files.append(URL('static','css/take_test.css'))}}



{{extend 'layout.html'}}
<!DOCTYPE html>
<html>

<ul class="nav nav-tabs" role="navigation">
      <li><a href="index">View Classes</a></li>
      <li><a href="create_test">Create A Test</a></li>
      <li><a href="create_class">Create A Class</a></li>
	  <li><a href="test_list">View All Tests</a></li>
    </ul>

<head lang="en">
    <meta charset="UTF-8">
    <title>
        Examera - Take A Test
    </title>


</head>
<body>


{{block body}}
<div id="dialog" title="Test submitted!" hidden="true">
    <span class="ui-helper-hidden-accessible"><input type="text"/></span>
    Return to index?
</div>

<div id="test_id" hidden="true">{{=test_id}}</div>
<div id="class_id" hidden="true">{{=class_id}}</div>

<div class="ui-accordion ui-widget ui-helper-reset">

    <h1 style="text-align: center;margin-bottom:0px" class="ui-accordion-header ui-state-default ui-corner-top">
        <span style="margin-right:50px;font-family:Helvetica">Take Test</span>
    </h1>

    <form method="post" style="padding-left:100px"
          class="ui-widget-content ui-corner-bottom ui-accordion-content-active" enctype="multipart/form-data"
          action="#">
        <table>
            <tbody>
            <tr id="test_name">
                <td class="w2p_fl">

                    <label id="test_name__label" for="test_name">

                        Test Name:

                    </label>

                </td>
                <td class="w2p_fw">

                    <p class="test_definitions ui-corner-all">
                    {{=test_data['test_name']}}
                    </p>

                </td>
            </tr>
            <tr id="test_info">
                <td class="w2p_fl">

                    <label id="test_info__label" for="test_info">

                        Test Info:

                    </label>

                </td>
                <td class="w2p_fw">

                    <p class="test_definitions ui-corner-all">
                    {{=test_data['test_info']}}
                    </p>

                </td>
            </tr>
            <tr id="test_questions">
                <td class="w2p_fl">


                    Questions:


                </td>
                <td id="questions_wrapper">
                {{i = 0}}
                {{for question in test_data['questions']:}}
                    {{i+=1}}
                    <form>
                        <table id="questions_table_0" class="questions_table ui-corner-all">
                            <tr class="question_text_row">
                                <td class="question_field question_text_label">
                                    Question {{=i}}:
                                </td>
                                <td class="question_field question_text">
                                    <p>
                                    {{=question['question_text']}}
                                    </p>
                                </td>
                            </tr>

                            <tr class="answer_a_row">
                                <td class="question_field answer_a_label">
                                </td>
                                <td class="answer_a question_field">
                                    <input type="radio" name="answer" value="a">
                                    A. {{=question['answer_a']}}
                                </td>
                            </tr>
                            <tr class="answer_b_row">
                                <td class="answer_b_label question_field">
                                </td>
                                <td class="answer_b question_field">
                                    <input type="radio" name="answer" value="b">
                                    B. {{=question['answer_b']}}
                                </td>
                            </tr>
                            <tr class="answer_c_row">
                                <td class="answer_c_label question_field">
                                </td>
                                <td class="answer_c question_field">
                                    <input type="radio" name="answer" value="c">
                                    C. {{=question['answer_c']}}
                                </td>
                            </tr>
                            <tr class="answer_d_row">
                                <td class="answer_d_label question_field">

                                </td>
                                <td class="answer_d question_field">
                                    <input type="radio" name="answer" value="d">
                                    D. {{=question['answer_d']}}
                                </td>
                            </tr>

                        </table>
                    </form>
                {{pass}}
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <button id="submit_test_button" type="button">
                Save Test
            </button>
        </p>
    </form>
</div>

</body>
</html>