.question_field{
    padding: 10px;
}

.questions_table{
    background: #eef5fc;
    margin-left: 10px;
    margin-top: 0px;
}

#submit_test_button{
    display: inline-block;
    margin-left: 272px;
}
#add_question_button{
    margin-left: 90px;
}

.large_field{
    margin-left: 10px;
}
